
@import "./variables.scss";

div{
    background-color: $fond;
    padding: 30px;
    h1{
        margin: 10px;
        background-color: orange;
    }
    p{
        background-color: red;
        padding: 50px;
        &:hover{
            background-color: lightsalmon;
            color: purple;
            font-size: 4em;
        }
    }
}